@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

.gamesearch {
    width: 50px;
    height: 36px;
    position: relative;
    display: flex;
    align-content: center;
}

.gamesearchTerm {
    width: 20%;
    border: 3px solid #5c6a86;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #7c9288;
}

.gamesearchTerm:focus {
    color: #5c6a86;
}

.gamesearchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #5c6a86;
    background: #5c6a86;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17.5px;
}

.gamewordfalse {
    background-color: black;
    font-size: medium;
    min-width: 20px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 0px 3px;
    --match-length: 1;
    width: calc(var(--match-length) * 10px);
  }

.gamewordtrue {
    font-size: medium;
    min-width: 20px;
    display: inline-block;
    color: rgb(69, 199, 123);
    padding: 0px 3px;
  }