.footer.bg-dark-blue
    .container
        .row
            .col-lg-12
                .footer-col.first
                    h6 A propos
                    p.p-small
                        | RandoWiki est un site gratuit, d&eacute;velopp&eacute; par Adrien Vilette et Jordan Renard, avec l&apos;aide de ChatGPT ainsi que des donn&eacute;es de Jean Michel Fauconnier.
                .footer-col.second
                .footer-col.third
                    span.fa-stack
                        a(href='#your-link')
                            i.fas.fa-circle.fa-stack-2x
                            i.fab.fa-facebook-f.fa-stack-1x
                    span.fa-stack
                        a(href='#your-link')
                            i.fas.fa-circle.fa-stack-2x
                            i.fab.fa-twitter.fa-stack-1x
                    span.fa-stack
                        a(href='#your-link')
                            i.fas.fa-circle.fa-stack-2x
                            i.fab.fa-pinterest-p.fa-stack-1x
                    span.fa-stack
                        a(href='#your-link')
                            i.fas.fa-circle.fa-stack-2x
                            i.fab.fa-instagram.fa-stack-1x
                    p.p-small
                        | Pour toute demande, merci de nous contacter !
                        a(href='mailto:contact@site.com')
                            strong contact@RandoWiki.com
.copyright.bg-dark-blue
    .container
        .row
            .col-lg-12
                p.p-small
                    | Copyright &copy;
                    a(href='#your-link') Adrien Vilette

script(src='bootstrap.min.js' type='text/javascript')
script(src='purecounter.min.js' type='text/javascript')
script(src='replaceme.min.js' type='text/javascript')
script(src='game.js' type='text/javascript')
script(src='scripts.js' type='text/javascript')
script(src='swiper.min.js' type='text/javascript')