html(lang='fr')
    head
        title Connexion
        meta(charset='UTF-8')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap')
        link(rel='stylesheet' type='text/css' href='bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='swiper.css')
        link(rel='stylesheet' type='text/css' href='styles.css')
        link(rel='stylesheet' type='text/css' href='search.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel='icon' href='images/favicon.png')


    body
        nav#navbarExample.navbar.navbar-expand-lg.fixed-top.navbar-dark(aria-label='Main navigation')
            .container
                a.navbar-brand.logo-text(href='index.html') RandoWiki
                button#navbarSideCollapse.navbar-toggler.p-0.border-0(type='button' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
                    ul.navbar-nav.ms-auto.navbar-nav-scroll
                        li.nav-item
                            a.nav-link(href='index.html') Accueil
                        li.nav-item
                            a.nav-link(href='jeu.html') Jeu
                        li.nav-item
                            a.nav-link(href='premium.html') Premium
                        li.nav-item
                            a.nav-link(href='connexion.html') Se connecter
                    span.nav-item.social-icons
                        span.fa-stack
                            a(href='#your-link')
                                i.fas.fa-circle.fa-stack-2x
                                i.fab.fa-facebook-f.fa-stack-1x
                        span.fa-stack
                            a(href='#your-link')
                                i.fas.fa-circle.fa-stack-2x
                                i.fab.fa-twitter.fa-stack-1x