extends includes/base

block content
    section
        .container
            .row.d-flex.justify-content-center.align-items-center.h-100
                .col-xl-9
                    h1.text-white.mb-4 Register
                    .card(style='border-radius: 15px;')
                        .card-body
                        form(method='POST' action='/register/add')
                            .row.align-items-center.pt-4.pb-3
                                .col-md-3.ps-5
                                    h5.mb-0.text-black Full name
                                .col-md-9.pe-5
                                    input.form-control.form-control-lg(type='text')
                            hr.mx-n3
                            .row.align-items-center.py-3
                                .col-md-3.ps-5
                                    h5.mb-0.text-black Email address
                                .col-md-9.pe-5
                                    input.form-control.form-control-lg(type='email' placeholder='example@example.com')
                            hr.mx-n3
                            .px-5.py-4
                                button.btn.btn-primary.btn-lg(type='submit') Register
